@using Kernel.Models.Database
@inherits WebStateAwareComponentBase

<div class="dropdown">
    <a class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>@_currentUser?.Username</strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
</div>

@code {

    private User? _currentUser;
    
    protected override Boolean HandleAppStateChanged(String propertyName, WebStateContainer state)
    {
        if(propertyName != nameof(AppState.CurrentUser)) {
            return false;
        }
       
        _currentUser = state.CurrentUser;
        return true;
    }

}
