@page "/view/{ModuleName}/{Route}"
@inject HttpClient httpClient

<PageTitle>View</PageTitle>

<h1>View</h1>


@content


@code {

    [Parameter]
    public String ModuleName { get; set; }
    
    [Parameter]
    public String Route { get; set; }

    private MarkupString content = new MarkupString("<div></div>");

  protected override async void OnInitialized()
  {
      var url = "/api/View/View/" + ModuleName + "/" + Route;
      var resp = await httpClient.GetAsync(url);
      var result = await resp.Content.ReadAsStringAsync();
      content = new MarkupString(result);
      StateHasChanged();
  }
}