@inherits LayoutComponentBase
@inject IHttpClientFactory HttpClientFactory

<PageTitle>ModularSmartHome</PageTitle>

<Navbar />

<div class="row">
    <div class="col-md-3">
        <Sidebar></Sidebar>
    </div>
    <div class="col-md-9">
        <div class="container">
            @Body
        </div>
    </div>
</div>

@code
{
    private HttpClient HttpClient;
    
    protected override async void OnInitialized()
    {
        HttpClient = HttpClientFactory.CreateClient("API");
        Console.WriteLine(await (await HttpClient.GetAsync("api/User/GetCurrentUser")).Content.ReadAsStringAsync());
    }
}
