@using System.Net
@using Kernel.Models.Database
@inherits LayoutComponentBase
@inject HttpClient httpClient
@inject NavigationManager NavigationManager

<PageTitle>ModularSmartHome</PageTitle>

<Navbar />

<div class="row" style="height: 100vh">
    <div class="col-md-3">
        @if (userIsAuthorized)
        {
            <Sidebar></Sidebar>
        }
    </div>
    <div class="col-md-9">
        <div class="container" style="height: 100%">
            @Body
        </div>
    </div>
</div>

@code
{
    private bool userIsAuthorized;
    
    protected override async void OnInitialized()
    {
        var currentUserResult = await httpClient.GetAsync("api/User/GetCurrentUser");
        if (currentUserResult.StatusCode == HttpStatusCode.Unauthorized && GetCurrentRoute() != "login")
        {
            NavigationManager.NavigateTo("/login");
            userIsAuthorized = false;
        }
        var user = await currentUserResult.Content.ReadFromJsonAsync<User>();
        Console.WriteLine("Username: " + user?.Username);
        userIsAuthorized = true;
    }

    private string GetCurrentRoute()
    {
        return NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
    }
}
