@using System.Net
@using Kernel.Models.Database
@inherits LayoutComponentBase
@inject HttpClient httpClient
@inject NavigationManager NavigationManager
@inject WebStateContainer WebState

<PageTitle>ModularSmartHome</PageTitle>

<Navbar />

<div class="row" style="height: 100vh">
    <div class="col-md-3">
        @if (WebState.CurrentUser != null)
        {
            <Sidebar></Sidebar>
        }
    </div>
    <div class="col-md-9">
        <div class="container" style="height: 100%">
            @Body
        </div>
    </div>
</div>

@code
{

    protected override async void OnInitialized()
    {
        var currentUserResult = await httpClient.GetAsync("api/User/GetCurrentUser");
        if (currentUserResult.StatusCode == HttpStatusCode.Unauthorized && GetCurrentRoute() != "login")
        {
            WebState.CurrentUser = null;
            NavigationManager.NavigateTo("/login");
        }
        var user = await currentUserResult.Content.ReadFromJsonAsync<User>();
        WebState.CurrentUser = user;
        StateHasChanged();
    }

    private string GetCurrentRoute()
    {
        return NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
    }
}
