@using System.Net
@inherits LayoutComponentBase
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager

<PageTitle>ModularSmartHome</PageTitle>

<Navbar />

<div class="row" style="height: 100vh">
    <div class="col-md-3">
        @if (userIsAuthorized)
        {
            <Sidebar></Sidebar>
        }
    </div>
    <div class="col-md-9">
        <div class="container" style="height: 100%">
            @Body
        </div>
    </div>
</div>

@code
{
    private HttpClient httpClient;
    private bool userIsAuthorized = false;
    
    protected override async void OnInitialized()
    {
        httpClient = HttpClientFactory.CreateClient("API");
        var currentUserResult = await httpClient.GetAsync("api/User/GetCurrentUser");
        if (currentUserResult.StatusCode == HttpStatusCode.Unauthorized && GetCurrentRoute() != "login")
        {
            NavigationManager.NavigateTo("/login");
            userIsAuthorized = false;
        }
        userIsAuthorized = true;
    }

    private string GetCurrentRoute()
    {
        return NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
    }
}
